* {
  box-sizing: border-box;
}

body {
  background-color: #282828;
  margin: 0;
  padding: 0;
}

header {
  background: url("../images/header_background.jpg") no-repeat center;
  height: 700px;
  margin: 0 auto;
}

header nav {
  font-family: "Montserrat", sans-serif;
  padding-top: 55px;
}

header nav ul {
  margin: 5px 0 0;
  padding: 0;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  text-decoration: none;
}

header nav ul li:hover a {
  background-color: #fff;
  color: #000;
}

header nav ul li:last-child {
  margin-right: -15px;
}

header .hero {
  color: #fff;
  margin-top: 150px;
}

header .hero h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  margin-bottom: 41px;
  margin-top: 25px;
}

header .hero h2 {
  font-family: "PT Serif", serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0;
}

header .hero button {
  background-color: #fed136;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 65px;
  width: 242px;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.flex-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.flex-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.flex-center-align {
  -ms-flex-align: center;
      align-items: center;
}

.flex-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-direction-column {
  -ms-flex-direction: column;
      flex-direction: column;
}

.reset-width, .services, .out {
  margin: 0 auto;
  width: 1400px;
}

.prop-h1, .services h1, .out h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
  margin: 0;
  padding-top: 110px;
  text-align: center;
}

.prop-h3, .services h3, .out h3 {
  color: #9a9a9a;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-style: italic;
  margin-top: 7px;
  text-align: center;
}

.prop-h4, .services .boxes .box h4, .out .boxes .box h4 {
  font-family: "Montserrat", sans-serif;
  margin: 21px 0 10px;
}

.prop-p, .services .boxes .box p, .out .boxes .box p {
  color: #9a9a9a;
  font-family: "PT Serif", serif;
  font-size: 14px;
  margin: 0;
}

.services {
  background-color: #fff;
  height: 568px;
}

.services .boxes {
  margin-top: 77px;
}

.services .boxes .box {
  height: 200px;
  width: 280px;
}

.services .boxes .box p {
  line-height: 24px;
}

.out {
  background-color: #f7f7f7;
  height: 1218px;
}

.out .boxes {
  margin-top: 77px;
}

.out .boxes .box {
  height: 393px;
  width: 290px;
  background-color: #fff;
}

.out .boxes .box h4 {
  margin: 23px 0 3px;
}

.out .boxes .box:nth-of-type(4) {
  margin-top: 50px;
}

.out .boxes .box:nth-of-type(5) {
  margin-top: 50px;
}

.out .boxes .box:nth-of-type(6) {
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */