* {
  box-sizing: border-box;
}

body {
  background-color: #282828;
  margin: 0;
  padding: 0;
}

.col-1 {
  -ms-flex: 8.333%;
      flex: 8.333%;
}

.col-2 {
  -ms-flex: 16.667%;
      flex: 16.667%;
}

.col-3 {
  -ms-flex: 25%;
      flex: 25%;
}

.col-4 {
  -ms-flex: 33.333%;
      flex: 33.333%;
}

.col-5 {
  -ms-flex: 41.667%;
      flex: 41.667%;
}

.col-6 {
  -ms-flex: 50%;
      flex: 50%;
}

.col-7 {
  -ms-flex: 58.333%;
      flex: 58.333%;
}

.col-8 {
  -ms-flex: 66.667%;
      flex: 66.667%;
}

.col-9 {
  -ms-flex: 75%;
      flex: 75%;
}

.col-10 {
  -ms-flex: 83.333%;
      flex: 83.333%;
}

.col-11 {
  -ms-flex: 91.667%;
      flex: 91.667%;
}

.col-12 {
  -ms-flex: 100%;
      flex: 100%;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  width: 100%;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex-center {
  -ms-flex-pack: center;
      justify-content: center;
}

.flex-end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.flex-between {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-center-align {
  -ms-flex-align: center;
      align-items: center;
}

.flex-content-end {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-direction-column {
  -ms-flex-direction: column;
      flex-direction: column;
}

.reset-width, .services, .out, .about, .team, .anothers, .down {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.prop-h1, .contact .title {
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
  margin: 0;
  padding-top: 110px;
  text-align: center;
}

.prop-h3, .contact .subtitle {
  color: #9a9a9a;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-style: italic;
  margin-top: 7px;
  text-align: center;
}

.prop-h4, .out .boxes .box .title, .team .boxes .box .names {
  font-family: "Montserrat", sans-serif;
  margin: 21px 0 10px;
}

.prop-p, .out .boxes .box .subtitle, .about .boxes .box .description, .team .last {
  color: #9a9a9a;
  font-family: "PT Serif", serif;
  font-size: 14px;
  margin: 0;
}

.prop-input, .contact .edit-field, .contact .edit-area {
  font-size: 14px;
  color: #f7f7f7;
  font-weight: 600;
  border-radius: 3px;
}

.icon-btn {
  width: 38px;
  height: 38px;
  border: 3px solid #000;
  border-radius: 50%;
  margin: 12px 5px 0;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.fa {
  height: 38px;
  left: -3px;
  position: absolute;
  top: 7px;
  transition-duration: .5s;
  width: 38px;
}

.prop-twitter, .team .boxes .box .icon-btn.twitter:hover, .down .row .icon-btn.twitter:hover {
  background-color: #00aced;
  border-color: #00aced;
}

.prop-facebook, .team .boxes .box .icon-btn.facebook:hover, .down .row .icon-btn.facebook:hover {
  background-color: #3b5998;
  border-color: #3b5998;
}

.prop-pinterest, .team .boxes .box .icon-btn.pinterest:hover, .down .row .icon-btn.pinterest:hover {
  background-color: #cb2028;
  border-color: #cb2028;
}

.prop-google-plus, .team .boxes .box .icon-btn.google-plus:hover, .down .row .icon-btn.google-plus:hover {
  background-color: #d95232;
  border-color: #d95232;
}

.top {
  background: url("../images/header_background.jpg") no-repeat center;
  margin: 0 auto;
}

.top .menu {
  font-family: "Montserrat", sans-serif;
  padding-top: 55px;
}

.top .menu .list {
  margin: 5px 0 0;
  padding: 0;
}

.top .menu .list .item {
  display: inline;
}

.top .menu .list .item .item:last-child {
  margin-right: -15px;
}

.top .menu .list .item .link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  text-decoration: none;
}

.top .menu .list .item:hover .link {
  background-color: #fff;
  color: #000;
}

.top .hero {
  color: #fff;
  margin-top: 150px;
}

.top .hero .second-info {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  margin-bottom: 41px;
  margin-top: 25px;
}

.top .hero .first-info {
  font-family: "PT Serif", serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0;
}

.top .hero .more {
  background-color: #fed136;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 65px;
  margin-bottom: 155px;
  width: 242px;
}

.services {
  background-color: #fff;
}

.services .boxes {
  margin-top: 77px;
}

.services .boxes .box {
  height: 200px;
  width: 280px;
  margin-bottom: 105px;
}

.out {
  background-color: #f7f7f7;
}

.out .boxes {
  margin-top: 77px;
  padding-bottom: 120px;
}

.out .boxes .box {
  height: 393px;
  width: 290px;
  background-color: #fff;
}

.out .boxes .box .title {
  margin: 23px 0 3px;
}

.out .boxes .box .subtitle {
  font-style: italic;
}

.out .boxes .next-row {
  margin-top: 50px;
}

.about {
  background-color: #fff;
}

.about .boxes {
  margin-top: 77px;
}

.about .boxes .box .empty {
  display: block;
}

.about .boxes .box .description {
  line-height: 23px;
}

.about .boxes .box .image {
  margin-bottom: 93px;
}

.about .boxes .box .left {
  margin: 0 -24px 5px 0;
}

.about .boxes .box .right {
  margin: 0 0 5px -24px;
}

#last-image {
  margin-bottom: 120px;
}

.team {
  background-color: #f7f7f7;
}

.team .last {
  margin: 36px 147px 0;
  padding-bottom: 115px;
}

.team .boxes {
  margin-top: 82px;
}

.team .boxes .box {
  margin: 0 30px;
  height: 350px;
  width: 222px;
}

.team .boxes .box .names {
  margin-bottom: 4px;
}

.team .boxes .box .icon-btn .fa:hover {
  color: #fff;
}

.anothers {
  background-color: #fff;
}

.anothers .row {
  padding: 60px 69px;
}

.anothers .row .logo:nth-of-type(1) {
  margin-right: 48px;
}

.anothers .row .logo:nth-of-type(2) {
  margin-right: 39px;
}

.anothers .row .logo:nth-of-type(3) {
  margin-right: 43px;
}

.contact {
  background: url("../images/map.png") center no-repeat;
  margin: 0 auto;
}

.contact .title {
  color: #fff;
}

.contact .subtitle {
  padding-bottom: 80px;
}

.contact .edit-field {
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  height: 50px;
  margin: 0 12px 30px 0;
  padding-left: 18px;
  width: 456px;
}

.contact .edit-area {
  height: 211px;
  margin: 0 0 180px 12px;
  padding: 18px 0 0 18px;
  width: 455px;
}

.down {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #9a9a9a;
}

.down .row {
  padding: 17px 0;
}

.down .row .icon-btn {
  background-color: #222;
  color: #fff;
  margin: 0 10px 0 0;
}

.down .row .icon-btn .fa:hover {
  color: #fff;
}

.down .row .last {
  margin-right: 126px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .col-m-1 {
    -ms-flex: 8.33%;
        flex: 8.33%;
  }
  .col-m-2 {
    -ms-flex: 16.66%;
        flex: 16.66%;
  }
  .col-m-3 {
    -ms-flex: 25%;
        flex: 25%;
  }
  .col-m-4 {
    -ms-flex: 33.33%;
        flex: 33.33%;
  }
  .col-m-5 {
    -ms-flex: 41.66%;
        flex: 41.66%;
  }
  .col-m-6 {
    -ms-flex: 50%;
        flex: 50%;
  }
  .col-m-7 {
    -ms-flex: 58.33%;
        flex: 58.33%;
  }
  .col-m-8 {
    -ms-flex: 66.66%;
        flex: 66.66%;
  }
  .col-m-9 {
    -ms-flex: 75%;
        flex: 75%;
  }
  .col-m-10 {
    -ms-flex: 83.33%;
        flex: 83.33%;
  }
  .col-m-11 {
    -ms-flex: 91.66%;
        flex: 91.66%;
  }
  .col-m-12 {
    -ms-flex: 100%;
        flex: 100%;
  }
  .flex-m-around {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .flex-m-center {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .flex-m-direction-column {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .flex-m-center-align {
    -ms-flex-align: center;
        align-items: center;
  }
  .top .menu {
    padding: 55px 10px 0;
  }
  .top .hero {
    margin-top: 50px;
  }
  .top .hero .second-info {
    font-size: 55px;
  }
  .top .hero .more {
    margin-bottom: 20px;
  }
  .services .boxes .box {
    margin-bottom: 20px;
    height: 250px;
    width: 240px;
  }
  .services .boxes .box .subtitle-m {
    width: 90%;
  }
  .out .boxes .box.next-row {
    margin-top: 0;
  }
  .about .boxes .box .left {
    padding-left: 10px;
  }
  .about .boxes .box .right {
    padding-right: 10px;
  }
  .anothers .row {
    padding: 50px 5px;
  }
  .anothers .row .logo {
    margin-right: 0;
  }
  .contact .title {
    padding-top: 50px;
  }
  .contact .subtitle {
    padding-bottom: 30px;
  }
  .contact .edit-field {
    margin-right: 0;
  }
  .contact .edit-area {
    margin: 0 0 50px;
  }
}

@media (max-width: 768px) {
  .col-s-1 {
    -ms-flex: 8.33%;
        flex: 8.33%;
  }
  .col-s-2 {
    -ms-flex: 16.66%;
        flex: 16.66%;
  }
  .col-s-3 {
    -ms-flex: 25%;
        flex: 25%;
  }
  .col-s-4 {
    -ms-flex: 33.33%;
        flex: 33.33%;
  }
  .col-s-5 {
    -ms-flex: 41.66%;
        flex: 41.66%;
  }
  .col-s-6 {
    -ms-flex: 50%;
        flex: 50%;
  }
  .col-s-7 {
    -ms-flex: 58.33%;
        flex: 58.33%;
  }
  .col-s-8 {
    -ms-flex: 66.66%;
        flex: 66.66%;
  }
  .col-s-9 {
    -ms-flex: 75%;
        flex: 75%;
  }
  .col-s-10 {
    -ms-flex: 83.33%;
        flex: 83.33%;
  }
  .col-s-11 {
    -ms-flex: 91.66%;
        flex: 91.66%;
  }
  .col-s-12 {
    -ms-flex: 100%;
        flex: 100%;
  }
  .flex-s-direction-column {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .flex-s-center-align {
    -ms-flex-align: center;
        align-items: center;
  }
  .top .menu .my-logo {
    margin-bottom: 20px;
  }
  .top .menu .list .item {
    display: block;
    padding-bottom: 20px;
    width: 100vw;
    background-color: #000;
    opacity: .7;
  }
  .top .menu .list .item:last-child {
    margin-right: 0;
  }
  .top .menu .list .item .link {
    font-size: 30px;
  }
  .top .hero {
    margin-top: 30px;
  }
  .top .hero .first-info {
    font-size: 30px;
  }
  .top .hero .second-info {
    font-size: 40px;
  }
  .out .boxes .box {
    background-color: #f7f7f7;
  }
  .about .boxes .box .empty {
    display: none;
  }
  #last {
    margin-bottom: 60px;
  }
  .team .boxes .box {
    margin-bottom: 50px;
  }
  .anothers .row .logo {
    margin-bottom: 20px;
  }
  .down .row .last {
    margin-right: 30px;
  }
}
/*# sourceMappingURL=style.css.map */