$back: #282828;
$white: #fff;
$black: #000;
$yellow: #fed136;
$grey-light: #9a9a9a;
$grey-very-light: #f7f7f7;
$blue: #00aced;
$blue-dark: #3b5998;
$red: #cb2028;
$orange: #d95232;

$font-montserrat: "Montserrat", sans-serif;
$font-ptserif: "PT Serif", serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $back;
  margin: 0;
  padding: 0;
}

header {
  background: url("../images/header_background.jpg") no-repeat center;
  margin: 0 auto;

  nav {
    font-family: $font-montserrat;
    padding-top: 55px;

    ul {
      margin: 5px 0 0;
      padding: 0;

      li {
        display: inline;

        a {
          color: $white;
          font-size: 16px;
          font-weight: 500;
          padding: 10px 15px;
          text-decoration: none;
        }

        &:hover {
          a {
            background-color: $white;
            color: $black;
          }
        }
      }
      li:last-child {
        margin-right: -15px;
      }
    }
  }

  .hero {
    color: $white;
    margin-top: 150px;

    h1 {
      font-family: $font-montserrat;
      font-size: 75px;
      margin-bottom: 41px;
      margin-top: 25px;
    }

    h2 {
      font-family: $font-ptserif;
      font-size: 40px;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 0;
    }

    button {
      background-color: $yellow;
      border: 0;
      border-radius: 3px;
      color: $white;
      cursor: pointer;
      font-family: $font-montserrat;
      font-size: 16px;
      font-weight: 700;
      height: 65px;
      width: 242px;
      margin-bottom: 155px;
    }
  }
}

.col-1 {flex: 8.333%;}
.col-2 {flex: 16.667%;}
.col-3 {flex: 25%;}
.col-4 {flex: 33.333%;}
.col-5 {flex: 41.667%;}
.col-6 {flex: 50%;}
.col-7 {flex: 58.333%;}
.col-8 {flex: 66.667%;}
.col-9 {flex: 75%;}
.col-10 {flex: 83.333%;}
.col-11 {flex: 91.667%;}
.col-12 {flex: 100%;}

.container {
  //border: 1px solid deeppink;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.flex-center {
  justify-content: center;
}

.flex-end {
  justify-content: flex-end;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-center-align {
  align-items: center;
}

.flex-content-end {
  align-content: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.reset-width {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.prop-h1 {
  font-family: $font-montserrat;
  font-size: 39px;
  margin: 0;
  padding-top: 110px;
  text-align: center;
}

.prop-h3 {
  color: $grey-light;
  font-family: $font-ptserif;
  font-size: 16px;
  font-style: italic;
  margin-top: 7px;
  text-align: center;
}

.prop-h4 {
  font-family: $font-montserrat;
  margin: 21px 0 10px;
}

.prop-p {
  color: $grey-light;
  font-family: $font-ptserif;
  font-size: 14px;
  margin: 0;
}

.prop-input {
  font-size: 14px;
  color: $grey-very-light;
  font-weight: 600;
  border-radius: 3px;
}

.services {
  background-color: $white;
  @extend .reset-width;

  h1 {
    @extend .prop-h1;
  }

  h3 {
    @extend .prop-h3;
  }

  .boxes {
    margin-top: 77px;

    .box {
      height: 200px;
      width: 280px;
      margin-bottom: 105px;

      h4 {
        @extend .prop-h4
      }

      p {
        @extend .prop-p;
      }
    }
  }
}

.out {
  background-color: $grey-very-light;
  @extend .reset-width;

  h1 {
    @extend .prop-h1;
  }

  h3 {
    @extend .prop-h3;
  }

  .boxes {
    margin-top: 77px;
    padding-bottom: 120px;

    .box {
      height: 393px;
      width: 290px;
      background-color: $white;

      h4 {
        @extend .prop-h4;
        margin: 23px 0 3px;
      }

      p {
        @extend .prop-p;
        font-style: italic;
      }
    }

    .next-row {
      margin-top: 50px;
    }
  }
}

.about {
  background-color: $white;
  @extend .reset-width;

  h1 {
    @extend .prop-h1;
  }

  h3 {
    @extend .prop-h3;
  }

  .boxes {
    margin-top: 77px;

    .box {
      h4 {
        @extend .prop-h4;
        margin: 0 0 5px;
      }

      p {
        @extend .prop-p;
        line-height: 23px;
        margin-top: 14px;
      }

      img {
        margin-bottom: 93px;
      }

      .first {
        margin-right: -24px;
      }

      .second {
        margin: 282px 0 0 -24px;
      }

      .third {
        margin: 383px -24px 0 0;
      }

      .fourth {
        margin: 372px 0 0 -24px;
      }
    }
  }
}

#last {
  margin-bottom: 120px;
}

.team {
  background-color: $grey-very-light;
  @extend .reset-width;

  h1 {
    @extend .prop-h1;
  }

  h3 {
    @extend .prop-h3;
  }

  p.last {
    @extend .prop-p;
    margin: 36px 147px 0;
    padding-bottom: 115px;
  }

  .boxes {
    margin-top: 82px;

    .box {
      height: 350px;
      width: 222px;
      margin: 0 30px;

      h4 {
        @extend .prop-h4;
        margin-bottom: 4px;
      }

      p {
        @extend .prop-p;
      }

      button {
        width: 38px;
        height: 38px;
        border: 3px solid $black;
        border-radius: 50%;
        margin: 12px 5px 0;
        position: relative;
        cursor: pointer;
        font-size: 20px;

        i.fa {
          height: 38px;
          left: -3px;
          position: absolute;
          top: 7px;
          transition-duration: .5s;
          width: 38px;

          &:hover {
            color: $white;
          }
        }
      }

      button.twitter:hover {
        background-color: $blue;
        border-color: $blue;
      }

      button.facebook:hover {
        background-color: $blue-dark;
        border-color: $blue-dark;
      }

      button.pinterest:hover {
        background-color: $red;
        border-color: $red;
      }

      button.google-plus:hover {
        background-color: $orange;
        border-color: $orange;
      }
    }
  }
}

.anothers {
  background-color: $white;
  @extend .reset-width;

  .row {
    padding: 60px 69px;

    img:nth-of-type(1) {
      margin-right: 48px;
    }

    img:nth-of-type(2) {
      margin-right: 39px;
    }

    img:nth-of-type(3) {
      margin-right: 43px;
    }
  }
}

.contact {
  background: url("../images/map.png") center no-repeat;
  margin: 0 auto;

  h1 {
    @extend .prop-h1;
    color: $white;
  }

  h3 {
    @extend .prop-h3;
    padding-bottom: 80px;
  }

  input {
    @extend .prop-input;
    border-radius: 3px;
    font-family: $font-montserrat;
    height: 50px;
    margin: 0 12px 30px 0;
    padding-left: 18px;
    width: 456px;
  }

  textarea {
    @extend .prop-input;
    height: 211px;
    margin: 0 0 211px 12px;
    padding: 18px 0 0 18px;
    width: 455px;

  }
}



