$back: #282828;
$white: #fff;
$black: #000;
$yellow: #fed136;
$grey-light: #9a9a9a;

$font-montserrat: "Montserrat", sans-serif;
$font-ptserif: "PT Serif", serif;

* {
  box-sizing: border-box;
}

body {
  background-color: $back;
  margin: 0;
  padding: 0;
}

header {
  background: url("../images/header_background.jpg") no-repeat center;
  height: 700px;
  margin: 0 auto;

  nav {
    font-family: $font-montserrat;
    padding-top: 55px;

    ul {
      margin: 5px 0 0;
      padding: 0;

      li {
        display: inline;

        a {
          color: $white;
          font-size: 16px;
          font-weight: 500;
          padding: 10px 15px;
          text-decoration: none;
        }

        &:hover {
          a {
            background-color: $white;
            color: $black;
          }
        }
      }
      li:last-child {
        margin-right: -15px;
      }
    }
  }

  .hero {
    color: $white;
    margin-top: 150px;

    h1 {
      font-family: $font-montserrat;
      font-size: 75px;
      margin-bottom: 41px;
      margin-top: 25px;
    }

    h2 {
      font-family: $font-ptserif;
      font-size: 40px;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 0;
    }

    button {
      background-color: $yellow;
      border: 0;
      border-radius: 3px;
      color: $white;
      cursor: pointer;
      font-family: $font-montserrat;
      font-size: 16px;
      font-weight: 700;
      height: 65px;
      width: 242px;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  width: 100%;
  //border: 1px solid deeppink;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.flex-center {
  justify-content: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-center-align {
  align-items: center;
}

.flex-content-end {
  align-content: flex-end;
}

.flex-direction-column {
  flex-direction: column;
}

.services {
  background-color: $white;
  height: 568px;
  width: 1400px;
  margin: 0 auto;
  font-family: $font-montserrat;

  h1 {
    margin: 0;
    padding-top: 110px;
    text-align: center;
    font-size: 39px;
  }

  h3 {
    font-family: $font-ptserif;
    font-style: italic;
    color: $grey-light;
    text-align: center;
    font-size: 16px;
    margin-top: 7px;
  }

  .boxes {
    margin-top: 77px;
    .box {
      width: 280px;
      height: 200px;

      h4 {
        font-family: $font-montserrat;
        margin: 21px 0 10px 0;
      }

      p {
        font-family: $font-ptserif;
        color: $grey-light;
        font-size: 14px;
        line-height: 24px;
        margin: 0;
      }
    }
  }
}